* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: default;
  list-style-type: none;
  text-decoration: none;
  font-family: rage-italic, SF-Arborcrest, sans-serif;
}

@font-face {
  font-family: rage-italic;
  src: url(./fonts/rage-italic.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Light.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Light-Oblique.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Medium.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Medium-Oblique.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Heavy-Oblique.ttf);
  font-display: swap;
}

@font-face {
  font-family: SF-Arborcrest;
  src: url(./fonts/SF-Arborcrest-Heavy.ttf);
  font-display: swap;
}

.header {
  margin: 0 auto;
  max-width: 1440px;
  background-color: #0c0c0e;
  height: 20vh;
}

.header > nav {
  height: 100%;
}

.nav-list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 40px;
  color: #fff;
}

.nav-list a {
  cursor: pointer;
}

.about-me {
  margin: 0 auto;
  max-width: 1440px;
  height: 80vh;
  display: flex;
  justify-content: space-around;
}

.about-me--description {
  margin-top: 100px;
  max-width: 500px;
}

.title {
  font-size: 50px;
}

.about-me--description-text {
  margin: 20px 0 0 20px;
  font-size: 20px;
}

.contacts {
  max-width: 1440px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 45px;
  margin: 100px 0 0 40px;
}

.contacts__list {
  margin: 20px 0 0 60px;
  font-size: 20px;
}

.education {
  max-width: 1440px;
  margin: 0 auto;
}

.education__title {
  font-size: 45px;
  margin: 100px 0 0 40px;
}

.education__list {
  margin: 20px 0 0 60px;
  font-size: 20px;
}

.education__list span {
  margin-left: 40px;
}
.skills {
  max-width: 1440px;
  margin: 0 auto;
}

.skills__title {
  font-size: 45px;
  margin: 100px 0 0 40px;
}

.skills__list {
  margin: 20px 0 0 60px;
  font-size: 20px;
}

.skills__list span {
  margin-left: 40px;
}
.example {
  max-width: 1440px;
  margin: 0 auto;
}
.example pre {
  margin: 0 0 0 60px;
}
.example__title {
  font-size: 45px;
  margin: 100px 0 0 40px;
}

.example__list {
  margin: 20px 0 0 60px;
  font-size: 20px;
}

.projects {
  max-width: 1440px;
  margin: 0 auto;
  height: 80vh;
}

.projects__title {
  font-size: 45px;
  margin: 100px 0 0 40px;
}

.projects__list {
  margin: 20px auto;
}

.project {
  width: 350px;
  height: 350px;
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.project__name {
  font-size: 20px;
  font-weight: 600;
}
.project a {
  display: block;
  width: 350px;
}

.project img {
  width: 100%;
  cursor: pointer;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0c0c0e;
  height: 20vh;
}

.footer__content {
  width: 400px;
  height: 100%;
  display: flex;
  justify-self: flex-end;
  justify-content: space-around;
  align-items: center;
}

.footer__content img {
  width: 80px;
  cursor: pointer;
}

.footer__content p {
  font-size: 45px;
}
